
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
   
}
/* Tablet Layout: 768px. */
@media only screen and (max-width: 768px)  { 
 
   	 .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	    margin-right: -15px;
	    margin-left: -15px;
	    background: rgba(7, 37, 57, 0.92);
	} 
	.navbar-brand {   
    font-size: 16px;
    
}
}
/* Mobile Layout: 440px. */
@media only screen and (max-width: 640px) { 
   
}
